.sign-in-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

.sign-in-button {
    width: 100%;
}

.sign-in-text-button {
    text-align: center;
    color: dodgerblue;
}

.sign-in-text-button a {
    text-decoration: none;
    color: inherit;
}

