.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0px;
}

.list-container {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    overflow: hidden;
}

.list-item {
    color: white;
    flex-grow: 1;
}

.list-item-link {
    text-decoration: none;
    background: #009EC2;
    color: inherit;
    padding: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.list-item-link:hover {
    background: #006d84;
    color: white;
}

.fa-icon {
    margin-right: 1rem;
    font-size: 1.3rem;
}